{% extends "baseView.html" %}
{% block content %}
<div class="row">
    <!-- {% for portfolio in Portfolios %}
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{portfolio.market}}</span>
                <p><b>Quantity:</b> {{portfolio.quantity}}</p>
                <p><b>Bought_at:</b> {{portfolio.bought_at}}</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    {% endfor %} -->
    <h3>More features incoming (if I ever bother) , stay tuned!!</h3>
</div>
{% endblock %}